

.content{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  line-height: 180%;
  @media (min-width:768px) {
    width: 80vw;
    flex-direction: row;
    margin-top: 0%;
    align-items: center;
    margin-left: 10%;
    height: 70vh;
    padding-right: 20%; 
  }
}

.text{
  width: 40rem;
  font-family: Helvetica;
  margin-left: 5%;
  @media (min-width:768px) {
    margin-left: 20%;
    font-size: 18px;
  }
  h1{
    color: #6DA0A4;
    font-size: 40px;
    @media (min-width:768px) {
      font-size: 68px;
      margin-bottom: 3%;
    }
  }
  h2{
    margin-bottom: 10%;
    font-size: 20px;
    font-weight: lighter;
    @media (min-width:768px) {
      margin-bottom: 5%;
      font-size: 30px;
    }
  }

  &__aboutme{
    margin-bottom: 10%;
    width: 32rem;
    @media (min-width:768px) {
      margin-bottom: 5%;
    }
  }

  &__skills{
    width: 100vw;
    @media (min-width:768px) {
      width: 40rem;
    }
    h3{
      color: #6DA0A4;
      margin-bottom: 5%;
    }
  }

  &__comp{
    display: flex;
    li{
      list-style: none;
    }
    &--secndcomp{
      margin-left: 10%;
    }
  }

  &__logos{
    width: 12rem;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
}

.pic{
  width: 12rem;
  padding-right: 10%;
  align-items: center;
  &__me{
    margin-left: 20%;
    margin-top: 10%;
    img{
      width: 332px;
      height: 402px;
    }
    @media (min-width:768px) {
      margin-top: 0%;
      margin-left: 0%;
      img{
        margin-left: 0%;
        width: 332px;
        height: 402px;
        margin-top: 40%;
      } 
    }
    &--polygon{
      position: absolute;
      z-index: -1;
      left:35%;
      top:85%;
      @media(min-width: 768px){
        left: 75%;
        top: -60%;
      }
    }
  }
}
