
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" );

body{
  font-family: 'Raleway', sans-serif;
}

.carroussel{
  overflow: hidden;
}
.carroussel__projects{
  position: relative;
  display: flex;
  width: 200vw;
  transition: transform 0.6s;
} 

.carroussel__project{
  margin-bottom: 10%;
  align-items: center;
  margin: auto;
  width: 100vw;
  margin-left: 3%;
  padding-right: 5%;
}

.title{
  position: relative;
  &__2{
    margin-left: 15%;
  }
  &__3{
    margin-left: 10%;
  }
}

.kyle{
  position: absolute;
  margin-left: auto;
  margin-right: auto; 
  z-index: 3;
}

.square{
  position: relative;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  left: 10%;
}

.traits{
  position: absolute;
  top: 0;
  left: 280px;
  transform: rotate(40deg);
  z-index: 1000;
}

.cross{
  position: absolute;
  bottom: 50px;
  left: 0;
}

.arrow{
  align-items: center;
  margin-top: 10%;
  margin-left: 40%;
}
.more{
  margin-left: 35%;
}

.header{
  &__logo{
    margin-left: 40%;
    margin-bottom: 10%;
  }
}


.info-project{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 3%;
  margin-bottom: 20%;

  &__img{
    margin-top: 20%;
  }
}

button{
  padding:8px;
  font-size: 14px;
  color: white;
  background-color:#A1DBC2;
  border: none;
  margin-top: 5%;
  width: 200px;
}

.content{
  position:relative;
  margin-top: 10%;
  
}
