
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" );

body{
  font-family: 'Raleway', sans-serif;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.carroussel{
  --sliderWidth: 100vw;
  width: var(--sliderWidth);
  overflow: hidden;
  position: relative;

  @media (min-width: 768px) {
    width: 100vw;
    height: 550vh;
  }

  &__projects{
    display: flex;  
    justify-content: space-between;
    width: 100%;
    transition: transform 0.8s;
    align-items: center;  
  } 

  &__project{
   width: var(--sliderWidth);
   padding-left: 20%;
   padding-right: 10%;
   align-items: center;

   @media (min-width: 768px) {
    width: 100vw;
    height: 85vh;
    padding-left: 15%;
  }

  }

}

.content{
  margin-top: 10%;
  @media (min-width: 768px) {
    width: 100vw;
    height: 100vh;
    margin-top: 10%;
  }

  &__title1{
    display: none;
    @media (min-width: 768px) {
      display: flex;
      position: absolute;
      top: 0;
      left: -5%;
      z-index: 3;
    }
  }
  
  &__title1--moode{
    display: none;
    @media (min-width: 768px) {
    display: flex;
    position: absolute;
    top: 25%;
    left: 0;
    z-index: 3;
    }
  }
  &__title1--nike{
    display: none;
    @media (min-width: 768px) {
    display: flex;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 3;
    }
  }
  
  &__title2{
    display: none;
    @media (min-width: 768px) {
      display: flex;
      position: absolute;
      top: 30%;
      left: 40%;
      z-index: 3;
    }
  }
  &__title2--soranim{
    display: none;
    @media (min-width: 768px) {
    display: flex;
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 30%;
    }
  }
  &__kyle{
    position: absolute;
    margin-left: auto;
    margin-right: auto; 
    z-index: 4;
    width: 319px;
    height: 319px;

    @media (min-width: 768px) {
      width: 600px;
      height: 600px;
      left: 10%;
      top: -5%;
    }
  }

  &__square{
    position: relative;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    left: 10%;

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__traits{
    position: absolute;
    top: 0;
    left: 90%;
    z-index: 1000;
    @media (min-width: 768px) {
     left: 60%;
     top: 10%;
    }
  }

  &__cross{
    position: absolute;
    bottom: 0;
    left: 0;
    @media (min-width: 768px) {
      bottom: 40%;
      left: 10%;
    }
  }

  &__triangle1{
    display: none;
    position: absolute;
    left: -10%;
    top: -30%;
    fill: #FCF7EB;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  &__triangle2{
    display: none;
    position: absolute;
    left: 30%;
    top: 10%;
    @media (min-width: 768px) {
      display: flex;
      
    }
  }
}


.title{
  width: 20rem;
  margin-top: 20%;
  margin-left: 5%;
  margin-right: auto;
  align-items: center;
  @media (min-width: 768px) {
    display: none;
  }
  &__2{
    margin-top: 20%;
    margin-left: 15%;
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__3{
    margin-top: 20%;
    margin-left: 5%;
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.arrow{
  position: absolute;
  z-index: 3000;
  top: 70%;
  left:5%;
  width: 16rem;
  align-items: center;
  margin-top: 10%;
  margin-left: 30%;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: auto;
    top: 95%;
    left: 45%;
  }
}

.header{
  width: 100vw;
  height: 8vh;
  margin-bottom: 2%;
  &__logo{
    position: relative;
    width:5rem;  
    top: 50%;
    left: 45%;
    @media(min-width:768px){
      display: none;
    }
  }

  &__elems{
    display: none;
    @media (min-width:768px){
      display: flex;
      justify-content: space-between;
      margin-left: 5%;
      margin-right: 5%;
      padding-top: 2%;
      font-size: 18px;
    }
    .about{
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
}
.name{
  display: flex;
  align-items: center;
  width: 30rem;
  &__stroke{
    margin-left: 2%;
    border-top: 1px solid #000;
    width : 200px;
  }
}
.about{
  width: 14rem;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.more{
  display: flex;
  flex-direction: column;
  @media(min-width:768px){
    width: 100vw;
    justify-content: space-around;
    margin-bottom: 20%;
  }
}

.vertical-stroke{
  &__1{
    position: absolute;
    border-top: 2px solid #000;
    width : 200px;
    z-index: 40000;
    top: 30%;
    left: -5%;
    transform: rotate(90deg);
  }
  &__2{
    position: absolute;
    border-top: 2px solid #000;
    width : 200px;
    z-index: 40000;
    top: 80%;
    left: 90%;
    transform: rotate(90deg);
  }
}
.info-project{
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-top: 40%;
  @media(min-width:768px){
    width: 60vw;
    margin-top: 0%;
  }

  &__title{
    @media(min-width:768px){
      font-size: 48px;
      width: 30rem;
    }
  }

  &__body{
    margin-top: 10%;
    @media(min-width:768px){
      margin-top: 2%;
      font-size: 18px;
    }
  }

  &__button--colors{
    padding:8px;
    font-size: 14px;
    color: white;
    background-color:#A1DBC2;
    border: none;
    margin-top: 5%;
    width: 200px;
  }

  &__button--moode{
    padding:8px;
    font-size: 14px;
    color: white;
    background-color:#F5D5C6;
    border: none;
    margin-top: 5%;
    width: 200px;
  }

  &__button--soranim{
    padding:8px;
    font-size: 14px;
    color: white;
    background-color:#922C44;
    border: none;
    margin-top: 5%;
    width: 200px;
  }

  &__button--nike{
    padding:8px;
    font-size: 14px;
    color: white;
    background-color:#343538;
    border: none;
    margin-top: 5%;
    width: 200px;
  }
  a{
    text-decoration: none;
    color: white;
  }

  &__number{
    width: 16rem;
    padding-top: 20%;
    margin-left: 10%;
    color: #A8A8A8;
    opacity: 100%;
    z-index: -1;
    opacity: 20%;
    font-weight: bold;
    font-size: 288px;
    font-family: Arial, Helvetica, sans-serif;
    @media(min-width:768px){
      position: absolute;
      padding-top: 5%;
    }
  }
}

.project__img{
  width:321px;
  height: 180px;
  position: absolute;
  top: 75%;
  @media(min-width: 768px){
  position: relative;
  width: 1005px;
  height: 596px;
  margin-top: 10%;
  }
}

.content{
  position:relative;
  
}
